<!-- <app-demo-binding-example hidden="true"></app-demo-binding-example>
<app-demo-derivatives hidden="true"></app-demo-derivatives>
<app-demo-parent hidden="true"></app-demo-parent>
<app-demo-service-example hidden="true"></app-demo-service-example>
<app-home></app-home> -->

<!-- In this class views are defualt, it will come all the screens -->
<div class="main_div">
    <mat-icon class="sub_img" aria-hidden="false" aria-label="Example home icon" routerLink="/home">home</mat-icon>
    <h2 class="sub_div">Welcome to Sivas Demo Project for <i>Angular</i> </h2>
    <button type="button" class="btn btn-primary my_button" routerLink="/login">Login</button>
</div>
<!-- router-outlet - will render the view -->
<router-outlet></router-outlet>