/* You can add global styles to this file, and also import other style files */
/*  siva sa */
.textCenter {
    text-align: center;
}
#myID {
    background-color: orange;
}
.text-success {
    color: green;
}
.text-danger {
    color: red;
}
.text-special {
    font-style: italic;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
