<!-- routerLink= "/dirc" - will route the link -->
<button mat-flat-button color="accent" routerLink="/binding">Binding</button>
<button mat-flat-button color="warn" routerLink="/directives">Directives and Custom Directives</button>
<button mat-flat-button color="primary" routerLink="/component-parent-to-child">Component - Parent to Child Data</button>
<button mat-flat-button color="accent" routerLink="/service-local-and-http-call">Services</button>
<button mat-flat-button color="warn" (click)="callNavigate()">Routing - Parameters routing - Optinal routing</button>
<button mat-flat-button color="primary" routerLink="/routing-parent">Route the Data - Static and Dynamic</button>
<button mat-flat-button color="accent" routerLink="/html-example">HTML Example</button>
<button mat-flat-button color="warn" routerLink="/logic">Logic</button>
<button mat-flat-button color="primary" routerLink="/pipes">Pipes and Custom Pipes</button>
<button mat-flat-button color="accent" routerLink="/observables">Observables and RxJS</button>
<button mat-flat-button color="warn" routerLink="/login">Template Driven Form - Login Screen</button>
<button mat-flat-button color="primary" routerLink="/register">Reactive Form - Register Screen</button>
<button mat-flat-button color="accent" routerLink="/file-Uploader">File Uploader</button>